[Unit]
Description=MailHog service
After=network.target

[Service]
User={{ ansible_user_id }}
Group={{ ansible_user_gid }}
WorkingDirectory={{ mailhog_path }}
ExecStart={{ mailhog_path }}/MailHog

[Install]
WantedBy=multi-user.target