[Unit]
Description=MinIO service
After=network.target

[Service]
User={{ ansible_user_id }}
Group={{ ansible_user_gid }}
ExecStart=/usr/local/bin/minio server {{ minio_dir }} --console-address ":9001"
Environment="MINIO_ROOT_USER={{ minio_username }}"
Environment="MINIO_ROOT_PASSWORD={{ minio_password }}"
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target